---
import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const metaData = {
  siteName: "Enea Xharja",
  description:
    "Welcome to my own little corner of the web, where I share my personal collection of notes, code snippets, and resources on topics that interest me.",
  author: "Enea Xharja",
  type: "website",
  keywords: "HTML, CSS, JavaScript, Astro",
  imageType: "image/png",
  imageWidth: "1200",
  imageHeight: "630",
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/og-image.png", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={metaData.keywords} />
    <meta name="description" content={metaData.description} />
    <meta name="author" content={metaData.author} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonicalURL} />
    <title>{title} | Enea Xharja</title>
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={metaData.type} />
    <meta property="og:site_name" content={metaData.siteName} />
    <meta property="og:description" content={metaData.description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:type" content={metaData.imageType} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content={metaData.imageWidth} />
    <meta property="og:image:height" content={metaData.imageHeight} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@eneaxharja" />
    <meta name="twitter:creator" content="@eneaxharja" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaData.description} />
    <meta name="twitter:image" content={socialImageURL} />
    <link
      rel="preload"
      href="/fonts/atkinson-400.woff"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/atkinson-700.woff"
      as="font"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
